body {
  background-color: black;
}

.flexbox-container {
  display: flex;
  justify-content: space-around;
}

.grid {
  border: solid black 3px;
  height: 100px;
  width: 100px;
}

.cell {
  border: solid black 3px;
  background-color: white;
  height: 300px;
  width: 300px;
}

img {
  height: 300px;
  width: 300px;
}

.top {
 height: 20%;
}

.container {
  align-items: center;
}

h1 {
  color: white;
  font-size: 60px;
}

h2 {
  color: white;
  font-size: 45px;
}
