body {
  background-color: black;

}

.game {

}

.grid {
  border: solid black 3px;
  height: 600px;
  width: 600px;
}

.cell {
  border: solid black 3px;
  background-color: white;
  height: 200px;
  width: 200px;
}

img {
  height: 200px;
  width: 200px;
}

.top {
 height: 20%;
}

.container {
  align-items: center;
}
